@page "/messages"
@using BlazorAppSample.Client.Helpers
@rendermode InteractiveWebAssembly
@implements IDisposable

<PageTitle>Messages</PageTitle>

<button class="btn-success rounded" @onclick="InitializeInteropAsync">Click me to initialize</button>
<p>Status: @Status</p>

<InputText @bind-Value=MessageToSend></InputText>
<button class="btn-info rounded" @onclick=SendMessageAsync>Send to WebView</button>

<p>Received from WebView: @ReceivedMessage</p>

@code {
    [Inject]
    public IJSRuntime JSRuntime { get; set; }

    private bool initialized;
    private WebViewMessaggesHelper messageHelper = new WebViewMessaggesHelper();
    private DotNetObjectReference<WebViewMessaggesHelper> messageHelperRef;

    public string MessageToSend { get; set; } = "Write here your message...";

    public string Status { get; set; } = "Not ready";
    public string ReceivedMessage { get; set; }

    private async void InitializeInteropAsync()
    {
        // Initializes the webview events in the Javascript runtime.
        await JSRuntime.InvokeVoidAsync("initializeWebViewEvents");

        // Initializes the helper reference needed to make Javascript interop with dotnet.
        // More info: https://learn.microsoft.com/en-us/aspnet/core/blazor/javascript-interoperability/call-dotnet-from-javascript?view=aspnetcore-8.0#pass-a-dotnetobjectreference-to-a-class-with-multiple-javascript-functions
        messageHelperRef = DotNetObjectReference.Create(messageHelper);
        await JSRuntime.InvokeVoidAsync("initializeDotNetMessagesHelper", messageHelperRef);

        // This event will be used to handle the message received.
        messageHelper.MessageReceived += MessageChanged;

        initialized = true;
        Status = "Ready";
        StateHasChanged();
    }

    private async void SendMessageAsync()
    {
        if (initialized)
        {
            await JSRuntime.InvokeVoidAsync("sendMessageToWebView", MessageToSend);
        }
    }

    private void MessageChanged(object sender, string e)
    {
        // Store the received text in a property for UI showing purposes.
        ReceivedMessage = e;
        StateHasChanged();
    }

    public void Dispose()
    {
        messageHelper.MessageReceived -= MessageChanged;
        messageHelperRef?.Dispose();
    }
}
